{% extends 'wha_todo/base.html' %}
{% load static %}
{% block content %}


<div class="jumbotron">
  <h1>Please Login</h1>
  <form class="" action="{% url 'wha_todo:user_login' %}" method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" value="" placeholder="Enter Username">
    <label for="pass">Password</label>
    <input type="password" name="pass" value="">

    <input type="submit" name="" value="Login">
  </form>

</div>





{% endblock %}
