/*
#navbar1 a{
  color:white;

}
#navbar{
  border: 10px solid blue;
} */
/* .jumbotron{
  margin-left: 75px;
  margin-right: 75px;
} */
/* .lists{
  color: Blue;
} */
img{
  width :110%;
  height:auto;
  padding: 0px;
  align-items: center;
}
/* #jum1{
  margin-left: 85px;
  margin-right: 85px;
} */
/* #btnn{
  background-color:rgba(51, 47, 47,0.3) ;
  border: 0px;
} */
